@* Generated from pentnom_wdw.clair at 25/11/2025 14:54:29 *@

@page "/fen_pentnom"

<div class="windev-window" data-source="pentnom_wdw.clair">
  <div id="IMAGE1__1" class="windev-image" data-x="3" data-y="42" data-width="496" data-height="141" data-anchor="8" data-tab_stop="0" data-take_focus="0" data-accelerator_key="65535">IMAGE1__1</div>
  <InputText id="DAT_CREA" @bind-Value="DAT_CREAModel" data-x="6" data-y="189" data-width="135" data-height="21" data-state="1" data-anchor="1" data-tab_stop="0" data-take_focus="0" data-accelerator_key="65535" data-tab_order="14" />
  <InputText id="DAT_MODI" @bind-Value="DAT_MODIModel" data-x="337" data-y="189" data-width="159" data-height="21" data-state="1" data-anchor="5" data-tab_stop="0" data-take_focus="0" data-accelerator_key="65535" data-tab_order="15" />
  <InputText id="LIB_ART" @bind-Value="LIB_ARTModel" data-x="227" data-y="70" data-width="256" data-height="21" data-state="1" data-tab_stop="0" data-take_focus="0" data-accelerator_key="65535" data-tab_order="12" />
  <InputText id="LIB_ART2" @bind-Value="LIB_ART2Model" data-x="227" data-y="89" data-width="256" data-height="21" data-state="1" data-tab_stop="0" data-take_focus="0" data-accelerator_key="65535" data-tab_order="13" />
  <InputText id="COD_ART" @bind-Value="COD_ARTModel" data-x="11" data-y="70" data-width="178" data-height="21" data-accelerator_key="65535" data-tab_order="1"  @oninput="On_input_COD_ART" @onblur="On_blur_COD_ART" />
  <button id="BART" data-x="195" data-y="73" data-width="26" data-height="16" data-tab_stop="0" data-accelerator_key="65535" data-tab_order="9" @onclick="On_click_BART">BART</button>
  <InputText id="IND_NOM" @bind-Value="IND_NOMModel" data-x="11" data-y="89" data-width="96" data-height="21" data-accelerator_key="65535" data-tab_order="2"  @oninput="On_input_IND_NOM" />
  <InputText id="ECOD_NOM" @bind-Value="ECOD_NOMModel" data-x="11" data-y="108" data-width="96" data-height="21" data-accelerator_key="65535" data-tab_order="3"  @oninput="On_input_ECOD_NOM" />
  <InputText id="LIB_NOM" @bind-Value="LIB_NOMModel" data-x="11" data-y="51" data-width="472" data-height="21" data-accelerator_key="65535" data-tab_order="0"  @oninput="On_input_LIB_NOM" />
  <div id="TYP_NOM" class="windev-sélecteur" data-x="11" data-y="129" data-width="474" data-height="29" data-accelerator_key="65535" data-tab_order="4" @onchange="On_input_TYP_NOM">TYP_NOM</div>
  <InputText id="DAT_DEBUTI" @bind-Value="DAT_DEBUTIModel" data-x="11" data-y="158" data-width="189" data-height="21" data-accelerator_key="65535" data-tab_order="5"  @oninput="On_input_DAT_DEBUTI" />
  <InputText id="DAT_FINUTI" @bind-Value="DAT_FINUTIModel" data-x="314" data-y="158" data-width="176" data-height="21" data-accelerator_key="65535" data-tab_order="6"  @oninput="On_input_DAT_FINUTI" />
  <button id="BOK" data-x="34" data-width="32" data-height="32" data-accelerator_key="65535" data-tab_order="7" @onclick="On_click_BOK">BOK</button>
  <button id="QUITTE" data-width="32" data-height="32" data-take_focus="0" data-accelerator_key="65535" data-tab_order="8" @onclick="On_click_QUITTE">QUITTE</button>
  <div id="Forme1" class="windev-forme" data-y="36" data-width="510" data-height="2" data-anchor="8" data-tab_stop="0" data-take_focus="0">Forme1</div>
  <button id="ModèleDeChamps1" data-x="477" data-y="2" data-width="29" data-height="30" data-anchor="4" data-tab_order="9" @onclick="On_click_ModèleDeChamps1" data-handler-type-14="On_init_ModèleDeChamps1_1" data-handler-type-None="On_typeunk_ModèleDeChamps1" @onfocus="On_focus_ModèleDeChamps1" @onblur="On_blur_ModèleDeChamps1" data-handler-type-43="On_affectation_ModèleDeChamps1" data-handler-type-42="On_récupération_ModèleDeChamps1" @onchange="On_init_ModèleDeChamps1_2">ModèleDeChamps1</button>
</div>
